

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #DDDDDD;
    line-height: 1.6;
}

.header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid  #ffd700;
    
}

.header .logo-container h1 {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.logo-container a{
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 13px;
  
    font-weight: bold;
}

.nav a:hover {
color: black;
border: 1px solid #ffd700;
background-color: #ffd700;
border-radius: 20px;

}


.part {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}


.part > div {
    background-color: #181818;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px #ffd700;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.part > div:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 12px; 
    background: linear-gradient( #181818, #181818) padding-box,
                linear-gradient(45deg, #ffd700, #ffc700, #ffb700, #ffa700, #ff9700) border-box;
            }


.part h2 {
    
    color: white; 
    margin-bottom: 10px;
}

.part p {
    margin-bottom: 15px;
}

audio {
    width: 100%;
    max-width: 300px;
    outline: none;
}
audio::-webkit-media-controls-panel{
    background-color: #008080;
    
}
.footer {
    background-color: #000000;
    color: #ffd700;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 2px solid #ffd700;
}

.footer p {
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffd700; 
    border-radius: 10px;
} 