body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #DDDDDD;
    
}

.header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.header .logo-container h1 {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 11px;
    font-weight: bold;
}

.nav a:hover {
    color: black;
    border: 1px solid #ffd700;
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    border-radius: 15px;

}
.container {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.container h2 {
    font-size: 2.5rem;
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
}


.playlist-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 30px;
    
}

.playlist-card {
    background-color: #181818;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.playlist-card h3 {
    font-size: 1.8rem;
    color: #e0e0e0; 
    margin-bottom: 15px;
}

.playlist-card p {
    font-size: 1rem;
    color: #bbb; 
    margin-bottom: 20px;
}

.playlist-card .btn {
    display: block;
    text-decoration: none;
    color:white; 
    border: 2px solid #ffd700;
    background-color: black; 
    padding: 10px 15px;
    border-radius: 24px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(255, 215, 0, 0.6),
                0 4px 10px rgba(255, 199, 0, 0.5),
                0 6px 15px rgba(255, 183, 0, 0.4);

}

.playlist-card .btn:hover {
    background: linear-gradient(45deg, #ffd900, #ffc800,#ffb700, #ffc800,#ffd900);
    background-clip:border-box;
    transform: translateY(-3px);
    color: black;
}

.playlist-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 12px; 
    background: linear-gradient( #181818, #181818) padding-box,
                linear-gradient(45deg, #ffd700, #ffc700, #ffb700, #ffa700, #ff9700) border-box;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #ffd700;
    font-size: 0.9rem;
    border-top: 2px solid #ffd700;
    
}

.playlist-card:hover h3 {
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .playlist-grid {
        flex-direction: column;
        align-items: center;
    }

    .playlist-card {
        width: 100%;
    }
}
