body {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
        
} 

{ 
    margin=0; 
    padding=0;
  }

  nav{ 
        font-family: "Ubuntu Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;

      
    }
   nav ul {
   display: flex;
   align-items: center;
   list-style-type: none;
   height: 65px;
   background-color: black;
   color: aliceblue;
   }
   
   nav ul li {
      padding: 5 12px;

   }
   .brand img{
    width: 44px;
    padding: 0 8px; 
   }

   .brand{ 
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
   }