body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #DDDDDD;
}

.header {
    background-color: #1f1f1f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .logo-container h1 {
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin: 4px 7px;
}

.logo-container a {
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 13px;
    font-weight: bold;
}

.nav a:hover {
    color: black;
    border: 1px solid #ffd700;
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    border-radius: 20px;
}

.hero {
    height: 350px;
    border-bottom: 2px solid #ffd700;
    background-color: #1a1a1a;
    text-align: center;
    padding: 30px 20px;
    border-bottom: 2px solid #ffd700;
    position: relative; 
    color: white; 
    z-index: 1; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Image2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.3; 
    z-index: -1;
    
}

.hero h2 {
    font-size: 37px;
    text-align: center;
    padding-bottom: 10px;
    background: linear-gradient(45deg, #ffd700,#ffc700,#ffb700,#ffa700,#ff9700);
    background-clip: text;
    -webkit-text-fill-color: transparent; 

}

.hero p {
    font-size: 19px;
    color: #DDDDDD;
}

.surah-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr ));
    gap: 20px;
    padding: 20px;
    margin-bottom: 2rem;
    margin-top: 30px;
    background-color: #000000;
}

.surah-item {
    background-color: #181818;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid transparent;
    box-shadow: 0 2px 5px rgba(255, 215, 0, 0.6),
                0 4px 10px rgba(255, 199, 0, 0.5),
                0 6px 15px rgba(255, 183, 0, 0.4);
}

.surah-item p {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.surah-item p:hover {
    background: linear-gradient(45deg, #ffef90, #ffde80, #ffcd70, #ffbc60, #ffab50);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.surah-item audio {
    width: 100%;
    margin-top: 10px;
}

.surah-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 12px; 
    background: linear-gradient( #181818, #181818) padding-box,
                linear-gradient(45deg, #ffd700, #ffc700, #ffb700, #ffa700, #ff9700) border-box;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #ffd700;
    font-size: 0.9rem;
    border-top: 2px solid #ffd700;
}

.footer p {
    margin: 0;
}

@media (max-width: 1200px) {
    .header .logo-container h1 {
        font-size: 1.6rem;
    }

    .nav ul {
        gap: 15px;
    }

    .nav a {
        font-size: 1rem;
        padding: 10px;
    }

    .hero h2 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .nav ul {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        font-size: 1rem;
        padding: 10px;
    }

    .surah-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .surah-item p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .logo-container h1 {
        font-size: 1.4rem;
    }

    .nav ul {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .surah-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .surah-item p {
        font-size: 0.9rem;
    }

    .footer p {
        font-size: 0.9rem;
    }
}


@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.3rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .surah-item p {
        font-size: 0.9rem;
    }

    .footer p {
        font-size: 0.8rem;
    }
}

audio::-webkit-media-controls-panel{
    background: linear-gradient(45deg, #c5a500, #b49400 25%, #937200 50%, #b49400 75%, #c5a500) border-box;
    -webkit-text-fill-color: black;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2f2f2f; 
    border-radius: 10px;
}
